@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-monument-grotesk);
  --font-mono: var(--font-ibx-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar-background);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /*            FONT SIZES                      */
  --text-10: 0.625rem;
  --text-12: 0.75rem;
  --text-14: 0.875rem;
  --text-20: 1.25rem;
  --text-22: 1.375rem;
  --text-24: 1.5rem;
  --text-32: 2rem;
  --text-40: 2.5rem;
  --text-48: 3rem;
  --text-64: 4rem;
  --text-72: 4.5rem;

  /*             DESIGN COLORS                 */
  --color-light-green: var(--light-green);
  --color-light-green-hover: color-mix(in srgb, var(--light-green) 90%, black);
  --color-light-green-pressed: color-mix(in srgb, var(--light-green) 80%, black);
  --color-light-green-focus: color-mix(in srgb, var(--light-green) 50%, black);

  --color-green: var(--green);
  --color-green-hover: color-mix(in srgb, var(--green) 90%, black);
  --color-green-pressed: color-mix(in srgb, var(--green) 80%, black);
  --color-green-focus: color-mix(in srgb, var(--green) 50%, black);

  --color-blue: var(--blue);
  --color-blue-hover: color-mix(in srgb, var(--blue) 90%, black);
  --color-blue-pressed: color-mix(in srgb, var(--blue) 80%, black);
  --color-blue-focus: color-mix(in srgb, var(--blue) 50%, white);

  --color-light-blue: var(--light-blue);
  --color-light-blue-hover: color-mix(in srgb, var(--light-blue) 90%, black);
  --color-light-blue-pressed: color-mix(in srgb, var(--light-blue) 80%, black);
  --color-light-blue-focus: color-mix(in srgb, var(--light-blue) 50%, black);

  --color-dark-blue: var(--dark-blue);
  --color-dark-blue-hover: color-mix(in srgb, var(--dark-blue) 90%, white);
  --color-dark-blue-pressed: color-mix(in srgb, var(--dark-blue) 80%, white);
  --color-dark-blue-focus: color-mix(in srgb, var(--dark-blue) 50%, white);

  --color-link-blue: var(--link-blue);
  --color-link-blue-hover: color-mix(in srgb, var(--link-blue) 90%, black);
  --color-link-blue-pressed: color-mix(in srgb, var(--link-blue) 80%, black);
  --color-link-blue-focus: color-mix(in srgb, var(--link-blue) 50%, white);

  --color-light-red: var(--light-red);
  --color-light-red-hover: color-mix(in srgb, var(--light-red) 90%, black);
  --color-light-red-pressed: color-mix(in srgb, var(--light-red) 80%, black);
  --color-light-red-focus: color-mix(in srgb, var(--light-red) 50%, black);

  --color-red: var(--red);
  --color-red-hover: color-mix(in srgb, var(--red) 90%, black);
  --color-red-pressed: color-mix(in srgb, var(--red) 80%, black);
  --color-red-focus: color-mix(in srgb, var(--red) 50%, white);

  --color-light-mud: var(--light-mud);
  --color-light-mud-hover: color-mix(in srgb, var(--light-mud) 90%, black);
  --color-light-mud-pressed: color-mix(in srgb, var(--light-mud) 80%, black);
  --color-light-mud-focus: color-mix(in srgb, var(--light-mud) 50%, black);

  --color-mud: var(--mud);
  --color-mud-hover: color-mix(in srgb, var(--mud) 90%, black);
  --color-mud-pressed: color-mix(in srgb, var(--mud) 80%, black);
  --color-mud-focus: color-mix(in srgb, var(--mud) 50%, black);

  --color-white-blue: var(--white-blue);
  --color-white-blue-hover: color-mix(in srgb, var(--white-blue) 90%, black);
  --color-white-blue-pressed: color-mix(in srgb, var(--white-blue) 80%, black);
  --color-white-blue-focus: color-mix(in srgb, var(--white-blue) 50%, black);

  --color-white: var(--white);
  --color-black: var(--black);
}

:root {
  box-sizing: border-box;
  margin: 0;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.787 0.124 20.233);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar-background: var(--black);
  --sidebar-foreground: var(--white);
  --sidebar-primary: 240 5.9% 10%;
  --sidebar-primary-foreground: 0 0% 98%;
  --sidebar-accent: 240 4.8% 95.9%;
  --sidebar-accent-foreground: 240 5.9% 10%;
  --sidebar-border: 220 13% 91%;
  --sidebar-ring: 217.2 91.2% 59.8%;
  --light-green: #a9daa9;
  --green: #439c43;
  --blue: #3d88cb;
  --link-blue: #2d6ea8;
  --light-blue: #a5cdf0;
  --dark-blue: #0b1014;
  --light-red: #fdbab9;
  --red: #9d1a38;
  --light-mud: #d1d0bd;
  --mud: #55543c;
  --white-blue: #ebf1f4;
  --white: #ffffff;
  --black: #000000;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar-background: 240 5.9% 10%;
  --sidebar-foreground: 240 4.8% 95.9%;
  --sidebar-primary: 224.3 76.3% 48%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 240 3.7% 15.9%;
  --sidebar-accent-foreground: 240 4.8% 95.9%;
  --sidebar-border: 240 3.7% 15.9%;
  --sidebar-ring: 217.2 91.2% 59.8%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
